body {
	background-color: white;
	color: black;
}

.center {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


h3, h2 {
	color: black;
}

h2 {
	font-size: 70px;
}

#bt {
	margin: 0;
  position: absolute;
  padding-top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.primary {
  background-color: black !important;
}