/* sidenav */
.left table #prog td {
		  background-color:  #ffffff;  
		}

		.left table #prog a {
			color: #771300;
		}



#undo, #loadPoint{
   font-weight: bold;
   font-size:27px;
}


#loadPointPopUp {
    display: none;
}


/* Toolkit */
.right .toolkit {
  width: 8%;
  height: 40%;
  position:absolute;
    top:0;
    right:1em;
  padding-top: 1em;
}

.right .toolkit td {
  padding: 12px;
}

#pixel_table_coords {
  width: 45%;
  border-collapse: collapse;
  border-spacing: 0 0;
  border: 2px solid #771300;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.pixel_table table tr {
   font-size: 13px;
   font-weight:normal;
   margin: 0;
   padding: 0;
   border: 0;
}
#head_Of_Coord_Table {
    font-size: 14px;
    font-weight:bold;
}

.right a {
  cursor: pointer;
}


.pixel_table table tr td {
    border:1px solid black;
    text-align:center;
}



.toolkit table {
  background-color: #ffffff; 
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0 0;
  border: 2px solid black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.toolkit table caption {
	text-align: left;
	font-weight: bold;
}

.toolkit table caption i {
	padding-left: 1em;
}

.toolkit a {
	text-decoration: none;
	border: none;

}

.toolkit table td {
			background-color: #ffffff; 
			color: #000000;
		}

input, button{
    vertical-align:middle;
}

.file-upload {
    display: inline-flex;
    align-items: center;
    font-size: 10px;
}

.file-upload__input {
    display: none;
}

#file-upload__button {
    -webkit-appearance: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

.file-upload__label {
	padding-left: 3.2em;
    max-width: 250px;
    font-size: 0.85em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.upload {
	max-width: 700px;
	padding: 4em 0 0 2em;
}

.upload h1 {
	color: #771300;
	font-size: 20px;
}

.upload input[type=text] {
  width: 400px;
  float: left;
  border: none;
  background: #797b7d;
  color: white;
}

input[type="text"]:focus,
    select:focus,
    textarea:focus {
      box-shadow: 0 0 0 2px #771300;
}

/* IMAGES */
#images-popup {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  min-height: fit-content;
  transform: translate(-50%, -50%);
  z-index: 9;
  text-align: center;
  background-color: #2f3338;
}

#actions {
	bottom: 0 !important;
	float: right;
	padding-left: 50% !important;
	width: 100%;
	background-color: #2f3338;
}

.myGallery {
  overflow-y: scroll;
  width: 600px;
  max-height: 500px;
  display: grid;
  grid-gap: 10px;
  padding: 7px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  background-color: #2f3338;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.myGallery .item {
	max-width: 200px;
	max-height: 200px;
}

.myGallery img {
  padding-top: 20px;
  width: 100%;
  height: 70%;
}

.myGallery .caption {
	color: white;
	font-size: 10px;
}

.myGallery::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.myGallery {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.activeFrame {
    border: 5px solid #771300;
}

.right {

	height: 100%;
	overflow-y: auto;
}

.right::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.right {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* IMAGES */
#images-popup {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  min-height: fit-content;
  transform: translate(-50%, -50%);
  z-index: 9;
  text-align: center;
  background-color: #2f3338;
}

#actions {
	bottom: 0 !important;
	float: right;
	padding-left: 50% !important;
	width: 100%;
	background-color: #2f3338;
}

.myGallery {
  overflow-y: scroll;
  width: 600px;
  max-height: 500px;
  display: grid;
  grid-gap: 10px;
  padding: 7px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  background-color: #2f3338;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.myGallery .item {
	max-width: 200px;
	max-height: 200px;
}

.myGallery img {
  padding-top: 20px;
  width: 100%;
  height: 70%;
}

.myGallery .caption {
	color: white;
	font-size: 10px;
}

.myGallery::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.myGallery {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.selected_frame {
    border-color: red;
    border-width: 5px;
    border-style: solid;


/*TUTORIAL */
.tooltip-wrapper {
  position: absolute;
  overflow: visible;
  width: 3%;
  height: 3%;
  top: 64%;
  right: 1%;
  animation: 1s linear;
}

.right .toolkit td {
  cursor: pointer;
}

.tooltip-wrapper .tooltip {
  position: absolute;
  width: 200px;
  padding: 0;
  height: fit-content;
  right: 1%;
  min-height: 80px;
  background: #B55B29;
  color: #ffffff;
  border-radius: 0.5em;
}


.tooltip-wrapper .tooltip .tooltip-title .tips {
  font-size: 13px;
  padding-left: 13%;
  padding-top: 0.5%;
  line-height: 18px;
  margin: 0;

}

a {
  text-decoration: none;
  border: none;

}

.tooltip-wrapper .tooltip .tooltip-title .steps {
  height: 20px;
  font-size: 12px;
}

#closeTutorial {
  padding-left: 5%;
  color: #E4C3B1;
}

#nextStep {
  padding-left: 10%;
}

#goBack {
  padding-left: 65%;
  color: #E4C3B1;
}
