/* sidenav */
.left table #seg td {
		  background-color:  #ffffff;  
		}

		.left table #seg a {
			color: #771300;
		}


/* Toolkit */
.right .toolkit {
	width: 8%;
	height: 40%;
	position:absolute;
   	top:0;
   	right:1em;
	padding-top: 1em;
}


.toolkit table {
	background-color: #ffffff; 
	border-color: #000000;
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0 0px;
	border: 2px solid black;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.toolkit table caption {
	text-align: left;
	font-weight: bold;
}


.toolkit table td {
			background-color: #ffffff; 
			color: #000000;
		}

.toolkit table caption i {
	padding-left: 1em;
}

.toolkit a {
	text-decoration: none;
	border: none;

}

.upload {
	padding: 2em 0em 0em 1em;
}


.file-upload {
    font-size: 10px;
}

.file-upload__input {
    display: none;
}

#file-upload__button {
    -webkit-appearance: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

.file-upload__label {
    align-items: center;
    max-width: 250px;
    font-size: 0.95em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.upload {
	display: none;
	max-width: 750px;
	padding: 4em 0 0 2em;
}

.upload h1 {
	color: #771300;
	font-size: 20px;
}

#titles, input, button{
    vertical-align:middle;
}

.upload #titles {
	padding-top: 0.4em;
	float: left;
	font-weight: bold;
}

.upload #nrFrames {
	font-weight: bold;
	padding: 1em 0 0 2em;
	font-size: 14px;
}

.video #video-fpm {
	width: 50px;
}


input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
          color: black;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}


