

#info {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.projDirs {
	max-height: 45vh;
	height: 35vh;
	overflow: auto;
}


.projDirs::-webkit-scrollbar {
    display: none;
}

