

#info {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.projDirs {
	height: 35%;
	max-height: 45%;
	overflow: auto;
}


.projDirs::-webkit-scrollbar {
    display: none;
}
