/* sidenav */
.left table #veg td {
		  background-color:  #ffffff;  
		}

		.left table #veg a {
			color: #771300;
		}


/* Toolkit */
.right .toolkit {
	width: 8%;
	height: 40%;
	position:absolute;
   	top:0;
   	right:1em;
	padding-top: 1em;
	
}



.toolkit table {
	background-color: #ffffff; 
	border-color: #000000;
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0 0px;
	border: 2px solid black;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}



.toolkit table caption {
	text-align: left;
	font-weight: bold;
}

.toolkit table caption i {
	padding-left: 1em;
}

.toolkit a {
	text-decoration: none;
	border: none;

}

.toolkit table td {
			background-color: #ffffff; 
			color: #000000;
		}

.upload {
	padding: 2em 0em 0em 1em;
}


.file-upload {
    font-size: 10px;
}

.file-upload__input {
    display: none;
}

#file-upload__button {
    -webkit-appearance: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

.file-upload__label {
    align-items: center;
    max-width: 250px;
    font-size: 0.95em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}



.wrapper {
	padding: 0 0 0 0 !important;
}

.upload {
	display: none;
	max-width: 700px;
	padding: 4em 0 0 2em;
}

.upload h1 {
	color: #771300;
	font-size: 20px;
}

p, input, button{
    vertical-align:middle;
}

.upload #titles {
	padding-top: 0.4em;
	float: left;
	font-weight: bold;
}

.right .picker {
	bottom: 0;
	position: fixed;
	right: 1%;
	height: 8%;
	width: 20%;
	padding-bottom: 18%;
}

table.scroll {
    background-color: #ffffff;
	border-color: #000000;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0 0px;
	border: 2px solid black;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

table.scroll tr {
	outline: thin solid;
}

table.scroll td {
	width: 100vh;
}


table.scroll tbody,
table.scroll thead tr { display: block; }

table.scroll tbody {
	width: 100%;
    height: 30vh;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody td:last-child, thead th:last-child {
    border-right: none !important;
    border-bottom: none !important;
}

table.scroll tbody::-webkit-scrollbar {
  display: none;
}


table.scroll .box {
	border: none;
	padding: 0;
	box-sizing: border-box !important;
	float: right;
	width: 25px !important;
	height: 25px !important;
	border-radius: 0 !important;
	margin: 0 !important;
}

.red {
  background-color: #FF1414;
}

.green {
	background-color: #58d383;
}

.dark-green {
	background-color: #14502D;
}

.yellow {
	background-color: #F0DE7A;
}


#pickertable tr i {
	float: right;
	padding-top: 3%;
	padding-right: 1%;
	padding-left: 5%;
}

#pickertable caption i {
	padding-left: 70%;
}

a {
	text-decoration: none
}