<!DOCTYPE HTML>
<html>
	<head>
		<title>FIRELab - Projects</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link rel="stylesheet" href="static/assets/css/projects.css"/>
		<link rel="stylesheet" href="static/viewmodel/css/project_process.css"/>
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Main -->
				<div class="split">
					<div class="left">
							<h2>FIRELab</h2>
							<div class="options">
								<table>
									<tr id="veg">
										<td><a href="{% url 'vegetation' %}">Vegetation Characterization</a></td>
									</tr>
									<tr id="seg">
										<td><a href="{% url 'segmentation' %}">Fire Segmentation</a></td>
									</tr>
									<tr id="prog">
										<td><a href="{% url 'progression' %}">Fire Progression</a></td>
									</tr>
								</table>
							</div>
                        <div>
                            {% for i in file_list %}
                                    <a style="font-size: 8px" {%  if i.type_id.id == 2 %} href="./segmentation?id={{ i.id }}" {% endif %}> {{ i.name }}.{{ i.extension }}</a>
                            {% endfor %}
                        </div>
						<div class="actions">
							<a href="{% url 'projects' %}" class="leave"><i class="fas fa-arrow-circle-left"></i> Leave</a>
						</div>
					</div>
					<div class="right">
						{% block content %}
						{% endblock %}
						
					</div>
				</div>
					
			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>
			<script src="static/assets/js/projects.js"></script>

			<!-- CUSTOM SCRIPTS -->
			<script src="static/viewmodel/js/project_process.js"></script>
			<script src="static/viewmodel/js/upload.js"></script>

	</body>
</html>