{% extends 'main/base_projects.html' %}

{% load static %}

{% block content %}

    {% block extracss %}
    <link type='text/css' rel="stylesheet" href="{% static 'viewmodel/css/fire_prog.css' %}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
 integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
 crossorigin=""></script>
    {% endblock %}


    <form id="georreferencingForm" action="./progression" method="POST">
    {% if frame is not None %}
        <div hidden>
            {{ georreferencing.marker }}
            {{ georreferencing.eraser }}
            {{ georreferencing.pixels }}
            {{ georreferencing.geo }}
            {{ georreferencing.frame_id }}
        </div>
        {% csrf_token %}
        <div id="img_prog"  style="display: flex; padding-top: 20vh; justify-content: center; align-items: center; ">
        {% if segmented %}
            <img draggable="false" id="workingImage" src={{ segmented }}>
            <img hidden draggable="false" id="hiddenWorkingImage" src={{ frame.content.url }}>
        {% else %}
            <img draggable="false" id="workingImage" src={{ frame.content.url }}>
        {% endif %}
        </div>
    {% endif %}
    </form>

	<div class="toolkit">
		<table>
			<caption id="caption">Toolkit<a id= "cp" title="Close Toolkit"><i id="close" class="fas fa-times"></i></a></caption>
			<tbody id="toolkit">
			<tr>
				<td id="showImage"><i class="fas fa-image fa-lg"></i></td>
				<td id="zoomIn"><i class="fas fa-search-plus fa-lg"></i></td>
			</tr>
			<tr>
				<td id="marker" onclick="markerOn()"><i class="fas fa-map-marker-alt fa-lg"></i></td>
				<td id="zoomOut"><i class="fas fa-search-minus fa-lg"></i></td>
			</tr>
			<tr>
				<td id="playAnimation"><i class="fas fa-play fa-lg"></i></td>
				<td onclick="saveCoords()"><i class="fas fa-save fa-lg" aria-hidden="true"></i></td>
			</tr>
			<tr>
				<td id="stack"><i class="fas fa-layer-group fa-lg" aria-hidden="true"></i></td>
				<td onClick="openUpload()"><a ><i class="fa fa-folder-open fa-lg" aria-hidden="true"></i></td>
			</tr>
			<tr>
				<td><i class="fas fa-expand-arrows-alt fa-lg" aria-hidden="true"></i></td>
				<td id="help"><i class="fa fa-question-circle fa-lg" aria-hidden="true"></i></td>
			</tr>
		</tbody>
		</table>
	</div>

	<div hidden class="upload" id="upload">
		<h1>Upload Files</h1>
		<p>If you have the polygon coordinates, or the file that contains them, please use this tool in order to see how the fire evolved:</p>
		<form id="UploadCoordFile" style="overflow: hidden; padding: 0.1em 0 0 1em;" method="POST" action="{% url 'upload_polygon' project.id %}" enctype="multipart/form-data">
            <div hidden>
                {{ file_form.image_id }}
            </div>
                {% csrf_token %}
                {{ file_form.coords }}
                <button type="button" id="file-upload__button" class="button icon solid fa-download">Choose File</button>
                <span class="file-upload__label"></span>
                <input type="button" id="submit_pol" value="Upload Coords">
			</form>
        <button class="button icon solid" type="button" value="Draw" name="drawPolygonButton" id="drawPolygonButton" onclick="drawMap()">DRAW </button><br>
	</div>
    <br>

	<!-- TODO see the best way to view the progression-->
	<div id="map" style="height: 600px;">

    </div>


    <div id="popUpGEO">
        <small>Geographic Coordinates: lat, lon</small>
        <br>
        <input id='coordinates' type='text' name='coordinates' class='form-control'>
        <br>
        <button class='btn btn-default'id='submit'> SAVE! </button>
    </div>

    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f2/678111-map-marker-512.png" id="marker" style="display: none; position: absolute; width: 50px; height: 50px;" />

    {% block extrajs %}
        <!-- This is necessary for the popUp -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <!--
            <script src="{% static 'viewmodel/js/map.js' %}"></script>
        -->
    <script src="{% static 'viewmodel/js/fire_prog.js' %}"></script>

    <!-- TODO: Move this script into viewmodel once it's finished -->
    <script>
        var pixels = []
        var geocoords = []
        var clicking;
        var k =0;
        var CoordPopUp = $('#popUpGEO');
        var input = $('#coordinates');
        let workingImage = $('#workingImage');
        var marker = $('#marker');
        CoordPopUp.dialog({
            autoOpen: false,
            show: {
                effect: "blind",
                duration: 300
            },
            draggable: true,
            hide: "blind",
            resizable: false,
            height: "auto",
            width: 300,
            modal: true,
        });

        $('#showImage').click(function () {
            workingImage.toggle();
        });

        $('#cp').click(function () {
            $('#toolkit').toggle();
        });

      

        workingImage.mousedown(function (event) {
            if(clicking){
                let x = event.pageX - this.offsetLeft;
                let y = event.pageY - this.offsetTop;
                pixels.push([x, y]);
                // Move circle here.
                marker.css('top', event.pageY - 50);
                marker.css('left', event.pageX - 25);
            
                var pos = {my: "left top", at: "left bottom", of: event}
                input.val('');
                CoordPopUp.dialog("option", "position", pos)
                    .dialog("open");
            }

        });

        
        

        $('#submit').click(function () {
            coords = input.val()
            var coords = input.val().split(",");
            geocoords.push([parseFloat(coords[0].trim()), parseFloat(coords[1].trim())]);
            console.log(geocoords);
            CoordPopUp.dialog("close");
        });
       
      

        function markerOn() {
            if($("#id_marker").attr('checked')=='checked'){
                clicking=false;
                $("#id_marker").attr('checked', false);
                $("#id_eraser").attr('checked', true);
                document.getElementById("marker").style.color="";
                $("#eraser").css("color", "#B55B29");
            }
            else{
                clicking=true;
                $("#id_marker").attr('checked', true);
                $("#id_eraser").attr('checked', false);
                document.getElementById("marker").style.color="#B55B29";
                $("#eraser").css("color", "");
            }
            
        };


        $('#zoomIn').click(function () {
            let img = document.getElementById("workingImage");
            let currWidth = img.clientWidth;
            img.style.width = (currWidth+100)+"px";
        })
        
        $('#zoomOut').click(function () {
            let img = document.getElementById("workingImage");
            let currWidth = img.clientWidth;
            img.style.width = (currWidth-100)+"px";
        })

          


        $('#submit_pol').click(function () {
            $("#id_image_id").val("{{frame.id}}");
            document.getElementById("UploadCoordFile").submit();
        });



        function saveCoords() {
            $("#id_frame_id").val(JSON.parse("{{frame.id}}"));
            clicking = false;
            $('#id_pixels').val(JSON.stringify(pixels));
            $('#id_geo').val(JSON.stringify(geocoords));
            document.getElementById("georreferencingForm").submit();
        };


    function drawMap() {
        workingImage.hide();
        $('#upload').hide();
      
        var mapdiv = document.getElementById('map');

        var mymap = L.map(mapdiv).setView([40.6405, -8.6538], 13);

        var osm = new L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoiaXRza2lrYXQiLCJhIjoiY2tubGZyeGR4MGtlNjJxczVkMnc1cGJuMSJ9.AqoknzMtuAATdUKs-gGGTw'
        });
        osm.addTo(mymap);

        //var coords =  '[ [40.640957, -8.658695], [40.648772, -8.623848], [40.614901, -8.656635], [40.640957, -8.658695] ]' ;
        var coords = "{{frame.geoRefPolygon}}";
        var f_coords=[];
        coords=coords.split("((")[1];
        coords=coords.split("))")[0];
        coords=coords.split(",");
        for(let i=0; i<coords.length; i++){
            let c = coords[i].split(" ");
            f_coords.push([parseFloat(c[1]), parseFloat(c[2])]);
        }
        coords=f_coords;
        coords.pop();
        var polygon = L.polygon(coords, {color: 'red'});
        polygon.addTo(mymap);
        polygon.bindPopup("Coordinates: " + coords);

        mymap.fitBounds(polygon.getBounds());

        var popupMap = L.popupMap();
        mymap.on('click', function(e){
            popupMap
                .setLatLng(e.latlng)
                .setContent("You clicked the map at " + e.latlng.toString())
                .openOn(mymap);
        });
    }

    </script>
    {% endblock %}



{% endblock %}