{% extends 'main/base_projects.html' %}

{% load static %}

{% block content %}

    {% block extracss %}
        <link rel="stylesheet" href="{% static 'viewmodel/css/fire_seg.css' %}"/>
    {% endblock %}

    <form id="workingImageForm" action="./segmentation" method="POST">
    {% if image is not None %}
        <div hidden>
            {{ segmentation.pen }}
            {{ segmentation.eraser }}
            {{ segmentation.path }}
            {{ segmentation.image_id }}
        </div>
        {% csrf_token %}
        <div id="img_seg"  style="display: flex; padding-top: 20vh; justify-content: center; align-items: center; ">
        {% if segmented %}
            <img draggable="false" id="workingImage" src={{ segmented }}>
            <img hidden draggable="false" id="hiddenWorkingImage" src={{ image.content.url }}>
        {% else %}
            <img draggable="false" id="workingImage" src={{ image.content.url }}>
        {% endif %}
        </div>
    {% endif %}
    </form>
	<div class="toolkit">
		<table>
			<caption id="caption">Toolkit<a id= "cp" title="Close Toolkit" onclick="openCloseToolkit()"><i id="close" class="fas fa-times"></i></a></caption>
			<tbody id="toolkit">
			<tr>
				<td id="pen" {% if segmentation.pen.value == True %} style="color: #B55B29" {% endif %} onclick="penOn()"><i class="fa fa-fire fa-lg" aria-hidden="true"></i></td>
				<td onclick="window.location='/projects/{{ project.id }}/segmentation/save/{{ image.file_info.id }}'"><i class="fas fa-save fa-lg"></i></td>
			</tr>
			<tr>
				<td id="eraser" {% if segmentation.eraser.value == True %} style="color: #B55B29" {% endif %} onclick="penOff()"><i class="fa fa-fire-extinguisher fa-lg" aria-hidden="true"></i></td>
				<td><a onclick="openUpload()"><i class="fa fa-folder-open fa-lg" aria-hidden="true"></i></a></td>
			</tr>
			<tr>
				<td><i class="fa fa-search-plus fa-lg" aria-hidden="true"></i></td>
				<td><i class="fa fa-search-minus fa-lg" aria-hidden="true"></i></td>
			</tr>
			<tr>
				<td><i class="fas fa-expand-arrows-alt fa-lg"></i></td>
				<td><i class="fa fa-question-circle fa-lg" aria-hidden="true"></i></td>
			</tr>
		</tbody>
		</table>
        {% if segmented %}
            <a id="maskToggle">Mask Toggle</a>
        {% endif %}
	</div>

	<div class="upload" id="upload">
		<h1>Upload Files</h1>
		<p>If you have RGB videos or images that were captured during the firing, please use this tool in order to extract the frames or images you wish to be processed:</p>
		<div class="video">
			<p id="titles">Video:</p>
            <form method="POST" action="{% url 'uploadVideo' project.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div style="overflow: hidden; padding: 0.1em 0 0 1.8em;">
                    {{ video_form.video }}
                    <button type="button" id="file-upload__button" class="button icon solid fa-download">Choose File</button>
                    <span class="file-upload__label"></span>
                </div>

                <div style="display: inline-block; padding-top: 1em;">
                    <p style="display: inline-block; float: left" id="nrFrames">Number of frames:</p>
{#                    <input type="text" name="video-fpm" id="video-fpm" value="5" style="padding-left: 10px" />#}
                    {{ video_form.frames }}
                </div>
                <div style="padding: 1%;">
                    <input type="submit" id="submit_vd" value="Upload video">
                </div>
            </form>

		</div>
		<br/>
		<div class="images">
			<p id="titles">Images:</p>
			<form style="overflow: hidden; padding: 0.1em 0 0 1em;" method="POST" action="{% url 'upload' project.id%}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ image_form.image }} {#	 <input class="file-upload__input" type="file" name="videoFile" id="videoFile"> #}
                <button type="button" id="file-upload__button" class="button icon solid fa-download">Choose File</button>
                <span class="file-upload__label"></span>
                <div style="padding: 1%;">
                    <input type="submit" id="submit_bt" value="Upload image">
                </div>
			</form>
		</div>

	</div>
    {% if image.video %}
        <div class="fire_timeline">
         <p style="display: none" id="open">FIRE Timeline <a id="openT" title="Open Timeline" onclick="openTimeline()"><i id="openTimeline" class="fas fa-angle-up"></i></a></p>
        <div id="timeline">
            <div id="title_timeline">
                <p>FIRE Timeline <a id="closeT" title="Close Timeline" onclick="closeTimeline()"><i id="closeTimeline" class="fas fa-times"></i></a></p>
                <hr class="solid">
            </div>
            <div class="frames_timeline">
                <table id="frameTable">
                  <tr>
                    <td><img src="{{ image.content.url }}"></td>
                    <td><img src="{{ image.content.url }}"></td>
                    <td><img src="{{ image.content.url }}"></td>
                    <td><img src="{{ image.content.url }}"></td>
                    <td style="width: auto !important;"></td>
                  </tr>

                </table>
            </div>
        </div>

    </div>
    {% endif %}

    {% block extrajs %}

        <script src="{% static 'viewmodel/js/fire_seg.js' %}"></script>
        <script>
        let workingImage = $("#workingImage")
        let clicking, path;
        let maskOn = true

        workingImage.mousedown(function(event) {
            let selectedFileId = JSON.parse("{{image.file_info.id|escapejs}}");
            $("#id_image_id").val(selectedFileId);

            clicking = true
            path = []
            let x = event.pageX - this.offsetLeft;
            let y = event.pageY - this.offsetTop;
            path.push( [x, y])
        });

        workingImage.mousemove(function(event) {
            if (clicking !== true) return

            let x = event.pageX - this.offsetLeft;
            let y = event.pageY - this.offsetTop;
            path.push( [x, y])
        });

        workingImage.mouseup(function(event) {
            clicking = false;
            $("#id_path").val(JSON.stringify(path));
            document.getElementById("workingImageForm").submit();
        });
        </script>
    {% endblock %}

{% endblock %}