{% extends 'main/base_projects.html' %}

{% load static %}

{% block content %}
    <form id="workingImageForm" action="./segmentation" method="POST">
    {% if image is not None %}
        <div hidden>
            {{ segmentation.mode.id_for_label }}{{ segmentation.mode }}
            {{ segmentation.path.id_for_label }}{{ segmentation.path }}
            {{ segmentation.image_id.id_for_label }}{{ segmentation.image_id }}
        </div>
        {% csrf_token %}
        {% if segmented %}
            <img draggable="false" id="workingImage" src={{ segmented }}>
        {% else %}
            <img draggable="false" id="workingImage" src={{ image.content.url }}>
        {% endif %}
    {% endif %}
    </form>
	<div class="toolkit">
		<table>
			<caption id="caption">Toolkit<a id= "cp" title="Close Toolkit" onclick="openCloseToolkit()"><i id="close" class="fas fa-times"></i></a></caption>
			<tbody id="toolkit">
			<tr>
				<td id="pen" {% if segmentation.mode.value == True %} style="background-color: #771300" {% endif %} onclick="penOn()"><i class="fa fa-fire fa-lg" aria-hidden="true"></i></td>
				<td ><i class="fas fa-save fa-lg"></i></td>
			</tr>
			<tr>
				<td id="eraser" {% if segmentation.mode.value == False %} style="background-color: #771300" {% endif %} onclick="penOff()"><i class="fa fa-fire-extinguisher fa-lg" aria-hidden="true"></i></td>
				<td><a onclick="openUpload()"><i class="fa fa-folder-open fa-lg" aria-hidden="true"></i></a></td>
			</tr>
			<tr>
				<td><i class="fa fa-search-plus fa-lg" aria-hidden="true"></i></td>
				<td><i class="fa fa-search-minus fa-lg" aria-hidden="true"></i></td>
			</tr>
			<tr>
				<td><i class="fas fa-expand-arrows-alt fa-lg"></i></td>
				<td><i class="fa fa-question-circle fa-lg" aria-hidden="true"></i></td>
			</tr>
		</tbody>
		</table>
	</div>

	<div class="upload" id="upload">
		<h1>Upload Files</h1>
		<p>If you have RGB videos or images that were captured during the firing, please use this tool in order to extract the frames or images you wish to be processed:</p>
		<div class="video">
			<p id="titles">Video:</p>
			<div style="overflow: hidden; padding: 0.1em 0 0 1.8em;">
				<input class="file-upload__input" type="file" name="videoFile" id="videoFile">
                <button type="button" id="file-upload__button" class="button icon solid fa-download">Choose File</button>
                <span class="file-upload__label"></span>
				
			</div>
			<div style="display: inline-block; padding-top: 1em;">
				<p style="display: inline-block; float: left" id="nrFrames">Number of frames:</p>
				<input type="text" name="video-fpm" id="video-fpm" value="5" style="padding-left: 10px" />
			</div>

		</div>
		<br/>
		<div class="images">
			<p id="titles">Images:</p>
			<form style="overflow: hidden; padding: 0.1em 0 0 1em;" method="POST" action="./segmentation/upload" enctype="multipart/form-data">
                {% csrf_token %}
{#				<input class="file-upload__input" type="file" name="videoFile" id="videoFile">#}
{#                <button type="button" id="file-upload__button" class="button icon solid fa-download">Choose File</button>#}
{#                <span class="file-upload__label"></span>#}
                {{ form.image }}
                <input type="submit" value="Upload image">
			</form>
		</div>
		
	</div>
	

    <link rel="stylesheet" href="static/viewmodel/css/fire_seg.css"/>
    <script src="static/viewmodel/js/fire_seg.js"></script>
    <script>

        let workingImage = $("#workingImage")
        let clicking, path;

        workingImage.mousedown(function(event) {
            let selectedFileId = JSON.parse("{{image.file_info.id|escapejs}}");
            $("#id_image_id").val(selectedFileId);

            clicking = true
            path = []
            let x = event.pageX - this.offsetLeft;
            let y = event.pageY - this.offsetTop;
            path.push( [x, y])
        });

        workingImage.mousemove(function(event) {
            if (clicking !== true) return

            let x = event.pageX - this.offsetLeft;
            let y = event.pageY - this.offsetTop;
            path.push( [x, y])
        });

        workingImage.mouseup(function(event) {
            clicking = false;
            $("#id_path").val(JSON.stringify(path));
            document.getElementById("workingImageForm").submit();
        });

        function penOn() {
            $("#id_mode").attr('checked', true);
            $("#pen").css("background-color", "#771300")
            $("#eraser").css("background-color", "")
        }

        function penOff() {
            $("#id_mode").attr('checked', false);
            $("#pen").css("background-color", "")
            $("#eraser").css("background-color", "#771300")
        }


    </script>

{% endblock %}