{% extends 'main/base_projects.html' %}

{% load static %}

{% block content %}

    {% block extracss %}
        <link type='text/css' rel="stylesheet" href="{% static 'viewmodel/css/fire_prog.css' %}"/>
        <!-- Leaflet -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
            integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
            crossorigin=""
        />
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin="">
        </script>
        <!-- WICKET -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wicket/1.3.6/wicket.js"
            integrity="sha512-jUln1L5hm3qsRXyeWUMa5ol6DccVUrj7zQItoSmiqOcp0q7T99J4/aiEWI6mgWf0duCXpcNCvnQqZlF99bigLg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer">
        </script>
    {% endblock %}


    <form id="georreferencingForm" action="./progression" method="POST">
        {% csrf_token %}
        {% if frame is not None %}
            <div hidden>
                {{ georreferencing.marker }}
                {{ georreferencing.pixels }}
                {{ georreferencing.geo }}
                {{ georreferencing.frame_id }}
                {{ georreferencing.polygon_wkt }}
            </div>
            <div id="img_prog"  style="display: flex; padding-top: 20vh; justify-content: center; align-items: center; ">
                {% if segmented %}
                    <div hidden id="polygon_georreferenced"> {{ segmented }}></div>
                    <img hidden draggable="false" id="WorkingImage" src={{ frame.content.url }}>
                {% else %}
                    <img hidden draggable="false" id="workingImage" src={{ frame.content.url }}>
                {% endif %}
            </div>
        {% endif %}
    </form>

	<div class="toolkit">
		<table>
			<caption id="caption">Toolkit<a id= "cp" title="Close Toolkit" onclick="openCloseToolkit()"><i id="close" class="fas fa-times"></i></a></caption>
			<tbody id="toolkit">
                <tr>
                    <td id="image_tk" style="cursor: pointer;" onclick="imageOn()"><i class="fas fa-image fa-lg"></i></td>
                    <td><i class="fas fa-search-plus fa-lg"></i></td>
                </tr>
                <tr>
                    <td id="marker" {% if georreferencing.marker.value == True %} style="color: #B55B29; cursor: pointer;" {% endif %} onclick="markerOn()"><i class="fas fa-map-marker-alt fa-lg"></i></td>
                    <td><i class="fas fa-search-minus fa-lg"></i></td>
                </tr>
                <tr>
                    <td id="play_tk" onclick="window.location.replace('/projects/{{ project.id }}/progression?animation');" style="cursor: pointer;"><i class="fas fa-play fa-lg"></i></td>
                    <td onclick="saveCoords()" style="cursor: pointer;"><i class="fas fa-save fa-lg" aria-hidden="true"></i></td>
                </tr>
                <tr>
                    <td><i class="fas fa-layer-group fa-lg" aria-hidden="true"></i></td>
                    <td><a onclick="openUpload()" style="cursor: pointer;"><i class="fa fa-folder-open fa-lg" aria-hidden="true"></i></td>
                </tr>
                <tr>
                    <td><i class="fas fa-expand-arrows-alt fa-lg" aria-hidden="true"></i></td>
                    <td><i class="fa fa-question-circle fa-lg" aria-hidden="true"></i></td>
                </tr>
		    </tbody>
		</table>
	</div>

	<div hidden class="upload" id="upload">
		<h1>Upload Files</h1>
		<p>If you have the file that contains the polygon coordinates (in WKT format), please use this tool in order to see how the fire evolved:</p>
		<form id="UploadCoordFile" style="overflow: hidden; padding: 0.1em 0 0 1em;" method="POST" action="{% url 'upload_polygon' project.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ file_form.coords }}
            <div hidden> {{ file_form.image_id }} </div>
            <button type="button" id="file-upload__button" class="button icon solid fa-download">Choose File</button>
            <span class="file-upload__label"></span>
            <input type="button" id="submit_pol" value="Upload Coords">
        </form>
	</div>

    <div class="col-12" id="animationButtons" hidden>
        <button type="button" class="button icon solid" name="drawPolygonButton" id="drawPolygonButton">Play Animation</button>
        <button type="button" class="button icon solid" name="stopDraw" id="stopDraw">Stop Animation</button>
        <br>
    </div>
    <br>

    <span hidden id="span_frameid"> {{ frame.id }}</span>
    <span hidden id="span_projectid"> {{ project.id }}</span>
	<div id="map" style="height: 750px;" hidden></div>

    <div id="popUpGEO" >
        <small>Geographic Coordinates: lat, lon</small>
        <br>
        <input id='coordinates' type='text' name='coordinates' class='form-control'>
        <br>
        <button class='btn btn-default'id='submit_geo'> SAVE! </button>
    </div>

    {% if warning %}
    <div class="alert alert-warning" role="alert">
        {{ warning }}
    </div>
    {% endif %}

    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f2/678111-map-marker-512.png" id="georef_marker" style="display: none; position: absolute; width: 50px; height: 50px;" />

    {% if wkts is not None %}
    <p hidden id="WKTS_HIDDEN"> {{ wkts }} </p>
    {% endif %}

    {% block extrajs %}
        <!-- This is necessary for the popUp -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="{% static 'viewmodel/js/fire_prog.js' %}"></script>
    {% endblock %}

{% endblock %}