{% extends 'main/base_projects.html' %}

{% load static %}

{% block content %}
	<div class="toolkit">
		<table>
			<caption id="caption">Toolkit<a id= "cp" title="Close Toolkit" onclick="openCloseToolkit()"><i id="close" class="fas fa-times"></i></a></caption>
			<tbody id="toolkit">
			<tr>
				<td><i class="fa fa-fire fa-lg" aria-hidden="true"></i></td>
				<td><i class="fas fa-save fa-lg"></i></td>
			</tr>
			<tr>
				<td><i class="fa fa-fire-extinguisher fa-lg" aria-hidden="true"></i></td>
				<td><a onclick="openUpload()"><i class="fa fa-folder-open fa-lg" aria-hidden="true"></i></a></td>
			</tr>
			<tr>
				<td><i class="fa fa-search-plus fa-lg" aria-hidden="true"></i></td>
				<td><i class="fa fa-search-minus fa-lg" aria-hidden="true"></i></td>
			</tr>
			<tr>
				<td><i class="fas fa-expand-arrows-alt fa-lg"></i></td>
				<td><i class="fa fa-question-circle fa-lg" aria-hidden="true"></i></td>
			</tr>
		</tbody>
		</table>
	</div>

	<div class="upload" id="upload">
		<h1>Upload Files</h1>
		<p>If you have RGB videos or images that were captured during the firing, please use this tool in order to extract the frames or images you wish to be processed:</p>
		<div class="video">
			<p id="titles">Video:</p>
			<div style="overflow: hidden; padding: 0.1em 0 0 1.8em;">
				<input class="file-upload__input" type="file" name="videoFile" id="videoFile">
                <button type="button" id="file-upload__button" class="button icon solid fa-download">Choose File</button>
                <span class="file-upload__label"></span>
				
			</div>
			<div style="display: inline-block; padding-top: 1em;">
				<p style="display: inline-block; float: left" id="nrFrames">Number of frames:</p>
				<input type="text" name="video-fpm" id="video-fpm" value="5" style="padding-left: 10px" />
			</div>

		</div>
		<br/>
		<div class="images">
			<p id="titles">Images:</p>
			<div style="overflow: hidden; padding: 0.1em 0 0 1em;">
				<input class="file-upload__input" type="file" name="videoFile" id="videoFile">
                <button type="button" id="file-upload__button" class="button icon solid fa-download">Choose File</button>
                <span class="file-upload__label"></span>
			</div>
		</div>
		
	</div>
	

    <script src="{% static 'viewmodel/js/fire_seg.js' %}"></script>
    <link rel="stylesheet" href="{% static 'viewmodel/css/fire_seg.css' %}"/>

{% endblock %}