<footer id="footer">
    <ul class="icons">
        <li><a target="_blank" href="https://github.com/itskikat/firelab" class="icon brands fa-github"><span class="label">Github</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="mailto:firelab@support.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; FIRELab</li><li>Developed by: <a target="_blank" href="http://xcoa.av.it.pt/~pi202021g02/#team">Group02\\PI\\DETI</a></li>
    </ul>
</footer>