<!DOCTYPE HTML>
<html>
    {% load static %}
	<head>
		<title>FIRELab - Projects</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/projects.css' %}"/>
		<link rel="stylesheet" href="{% static 'viewmodel/css/projects_custom.css' %}"/>
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">
                <form id="logoutForm" action="/logout" method="GET" hidden>
                    {% csrf_token %}
                </form>

				<!-- SIDE MENU -->
                <header id="header">
                    <h1><a href="{% url 'index' %}">Firelab</a></h1>
                    <nav id="nav">
                        <ul>
                            <li class="special">
                                <a href="#menu" class="menuToggle"><span>Menu</span></a>
                                <div id="menu">
                                    <ul>
                                        <li><a href="{% url 'index' %}">Home</a></li>
                                        <li><a href="{% url 'projects' %}">My Projects</a></li>
                                        <li><a href="{% url 'account' %}">My account</a></li>
                                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </header>

				<!-- Main -->
				<div class="split" id="blur">
					<div class="left">
						<div class="container" style="display: inline-block;">
							<h2>Projects</h2>
							<a class="new_proj" href="#" onclick="openForm()">
        						<i class="fa fa-plus-circle" aria-hidden="true"></i>
        						New
							</a>	
						</div>
						<div class="existing_proj">
							<table id="all_projects">
                                {% for project in project_list %}
								<tr>
									<td onclick="showInfo('{{ project.id }}', '{{ project.name }}','{{ project.description }}', '{{ project.creation_date|date }}', '{{ project.modification_date|date }}')"><i class="far fa-folder"></i> {{ project.name }}</td>
								</tr>
                                {% endfor %}

							</table>

						</div>
					</div>

					<div class="right">
						<div class="information">
							<h2 id="project_name"></h2>
							<div class="delete" id="delete_div" style="visibility: hidden">
								<a href="#" onclick="openCheckDelete()" class="button"><i class="fas fa-trash-alt"></i> Delete</a>
							</div>
							<p id="dates"></p>
							<p id="modification_date"></p>

							<p style="width: 70%" id="project_description"></p>
						</div>
						<div class="actions" hidden>
							<a id="workButton" class="button primary work">Work</a>
						</div>
					</div>
				</div>

				<!-- POP WHEN NEW PROJECT-->
                <div class="form-popup" id="myForm" style="height: fit-content; align-self: center;">
                    <form method="POST" action="{% url 'projects' %}" class="form-container">
                        {% csrf_token %}
                        <h1>Create a new Project</h1>
                        <br>
                        {{ creation_form.name.label }}
                        {{ creation_form.name }}

                        {{  creation_form.description.label }}
                        {{  creation_form.description }}

                        <ul class="actions" style="margin-left: 1.5em; margin-bottom: auto;">
                            <input type="submit" class="button primary create" value="Create">
                            <li id="cancel"><a onclick="closeForm()" class="button cancel">Cancel</a></li>
                        </ul>
                  </form>
                </div>

                <!-- POP WHEN DELETE PROJECT-->
                <div class="delete-popup" id="deleteCheck" style="height: fit-content; align-self: center;">
                    <div class="container-delete">
                        <i class="fas fa-trash-alt"></i>
                        <h4>Are you sure?</h4>
                        <p style="margin: 0 0 1.3em 0;">Do you want to delete this project? This process cannot be undone.</p>
                        <div class="options">
                            <ul class="actions" style="margin-left: -4.5em; margin-bottom: auto;">
                                <li><a id="delete_button" class="button primary create">Delete</a></li>
                                <li id="cancel"><a onclick="closeDelete()" class="button cancel">Cancel</a></li>
                            </ul>
                        </div>
                </div>
            <!-- POP WHEN NEW PROJECT-->
            <div class="form-popup" id="myForm" style="height: fit-content; align-self: center;">
                <form method="POST" action="{% url 'projects' %}" class="form-container">
                    {% csrf_token %}
                    <h1>Create a new Project</h1>
                    <br>
                    {{ creation_form.name.label }}
                    {{ creation_form.name }}

                    {{  creation_form.description.label }}
                    {{  creation_form.description }}

                    <ul class="actions" style="margin-left: 1.5em; margin-bottom: auto;">
                        <input type="submit" class="button primary create" value="Create">
                        <li id="cancel"><a onclick="closeForm()" class="button cancel">Cancel</a></li>
                    </ul>
              </form>
            </div>

            <!-- POP WHEN DELETE PROJECT-->
            <div class="delete-popup" id="deleteCheck" style="height: fit-content; align-self: center;">
                <div class="container-delete">
                    <i class="fas fa-trash-alt"></i>
                    <h4>Are you sure?</h4>
                    <p style="margin: 0 0 1.3em 0;">Do you want to delete this project? This process cannot be undone.</p>
                    <div class="options">
                        <ul class="actions" style="margin-left: -4.5em; margin-bottom: auto;">
                            <li><a class="button primary create">Delete</a></li>
                            <li id="cancel"><a onclick="closeDelete()" class="button cancel">Cancel</a></li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>

        <!-- Scripts -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
        <script src="{% static 'assets/js/browser.min.js' %}"></script>
        <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
        <script src="{% static 'assets/js/util.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
        <!-- CUSTOM SCRIPTS-->
        <script src="{% static 'assets/js/projects.js' %}"></script>

        <!-- SCRIPTS TO BE MOVED TO ASSETS -->
        <script>
            function showInfo(id, name, description, creation, modification) {
                $("#project_name").text(name);
                $("#project_description").text("Description: " + description);
                $("#dates").text("Created on: " + creation);
                $("#modification_date").text("Last modified on: " + modification);
                $(".actions").show();
                $("#workButton").attr('href', 'projects/' + id + '/process');
                $("#delete_div").css('visibility', 'visible')
                $("#delete_button").attr('href', 'projects/' + id + '/delete')
            }
        </script>
	</body>
</html>