{% extends 'main/base_projects.html' %}

{% block content %}
    {% load static %}

    <form id="manualClassification" action="" method="post">
        {% csrf_token %}
        {% if image %}
            <div hidden>
                {{ manual_classifier_form.point }}
                {{ manual_classifier_form.classification_image_size }}
                {{ manual_classifier_form.classification_index }}
                {{ manual_classifier_form.grid }}
                {{ manual_classifier_form.brush_size }}
            </div>
        {% endif %}
    </form>
    <form id="workingImageForm" action="./vegetation" method="POST" style="justify-content: center; align-items: center;">
        {% csrf_token %}
        {% if image %}
            <div hidden>
                {{ grid_draw.image_id }}
                {{ grid_draw.p1 }}
                {{ grid_draw.p2 }}
                {{ grid_draw.image_size }}
                {{ grid_draw.modelField }}
                {{ grid_draw.cell_size }}
            </div>
            {% if gridded_image %}
                <div id="img_ortophoto"  style="padding-left:20%; padding-top: 2%; justify-content: center; align-items: center; ">
                    <img style="max-width: 47%; transform-origin: top left;" draggable="false" id="workingImage" src={{ gridded_image }}>
                </div>
            {% else %}
                <div id="img_ortophoto"  style="padding-left: 20%;padding-top: 2%; justify-content: center; align-items: center; ">
                    <img style="max-width: 47%; transform-origin: top left;" draggable="false" id="workingImage" src={{ image.thumbnail.url }}>
                </div>
            {% endif %}
        {% endif %}
    </form>
    <span id="icon"></span>

    {% if grid %}
    <div class="picker">
		<table id="pickertable" class="scroll">
			<caption id="captionPicker">Picker<a id= "closePicker" title="Close Picker" onclick="openClosePicker()"><i id="closeP" class="fas fa-times"></i></a></caption>
			<tbody style="font-size: 13px" id="pickerBody">
            {% for class in model %}
			<tr>
				<td onclick="setSelectedLayer({{ class.classificationIndex }})" id="{{ class.classificationIndex }}_layer" colspan="2">{{ class.name}} {% if not class.minPercentage == 0 and not class.maxPercentage == class.minPercentage %} ({{ class.minPercentage }}-{{ class.maxPercentage }}%) {% endif %}<i id="{{ class.classificationIndex }}_icon" onclick="filter({{ class.classificationIndex}})" class="fas fa-eye fa-lg"></i><div style="background-color: #{{ class.hexColor }}" class='box'></div></td>
			</tr>
            {% endfor %}

            <tr>
                <td style="text-align: center" onclick="showAll()">Show all layers</td>
                <td style="text-align: center" onclick="hideAll()">Hide all layers</td>
            </tr>
		</tbody>
		</table>
	</div>
    {% endif %}


    {% if image is not None %}
	<div class="toolkit">

        <input id="brushSettings"  type="range" step="1" min="1" max="20" style="transform: rotate(270deg); display: none; position:absolute; top: 12vh; left: -5vw; background: grey">
     
        
		<table>
            <caption id="caption">Toolkit<a id= "cp" title="Close Toolkit" onclick="openCloseToolkit()"><i id="close" class="fas fa-times"></i></a></caption>
            <tbody id="toolkit">
            <tr>
                <td><i id="manualSelectionLeaf" title="Manually classify" style="cursor: pointer" class="fas fa-leaf fa-lg" {% if grid %} onclick="manualSelect()" {% endif %}></i></td>
                <td title="Reset Zoom" onclick="fitToScreen()" style="cursor: pointer"><i class="fas fa-expand-arrows-alt fa-lg"></i></td>
            </tr>
            <tr>
                <td><a title="Auto classify" style="cursor: pointer" {% if grid %} onclick="openLoadingPopUp()" href="{% url 'auto_classifier' project.id grid.id %}" {% endif %}><i class="fas fa-tree fa-lg"></i></a></td>
                <td><a title="Save fuel map" style="cursor: pointer" {% if grid %} onclick="openWarningPopUp('Your fuelmap is being generated and will be downloaded as soon as it\'s ready.')" href="{% url 'export_fuel_map' project.id grid.id %}" {% endif %}><i class="fas fa-save fa-lg" ></i></a></td>
            </tr>
            <tr>
                <td><a title="Upload ortophoto" style="cursor: pointer" href="{% url 'vegetation' project.id %}" ><i class="fa fa-folder-open fa-lg"></i></a></td>
                <td title="Draw Grid" onclick="drawGrid()" style="cursor: pointer"><i class="fa fa-border-all fa-lg" id="grid" style="color: black"></i></td>
            </tr>
            <tr>
                <td title="Zoom In"><i class="fa fa-search-plus fa-lg" style="cursor: pointer" id="plusImg" onclick="enlargeImg()" aria-hidden="true"></i></td>
                <td title="Help"><i class="fa fa-question-circle fa-lg" aria-hidden="true" onclick="openTutorial()"></i></td>
            </tr>
            <tr>
                <td title="Zoom Out"><i class="fa fa-search-minus fa-lg" style="cursor: pointer" onclick="imgSmall()" id="minusImg" aria-hidden="true"></i></td>
            </tr>
        </tbody>
        </table>
	</div>
    {% endif %}

    {% if not gridded_image %}
    <div id="createGridHelp"><a style="cursor: pointer;" onclick="drawGrid()">Create Grid Helper <i id="openGridPop" class="fas fa-angle-down"></i></a></div>
    <div class="gridPop" id="gridPop">
        <div class="row gtr-uniform">
            <div class="col-4 col-12-xsmall">
                <div class="cell"><p> Cell size (m): <input type="number" min="1" max="20" step="1" value="5" style="color: black"></p></div>
            </div>
            <div class="col-6 col-12-xsmall" style="padding-left: 20%; padding-right: 0">
                <div class="models">
                   <select name="model" id="model" title="If you don't pick a model, a default one will be used." style="width: fit-content; height: 40px; font-size: 13px;">
                      <option selected disabled>Choose model</option>
                      <option value="disperfire">DISPERFIRE</option>
                      <option value="firesite">FIRESITE</option>
                  </select>
               </div>
            </div>
            <div class="col-2 col-12-xsmall">
                <a title="Close Grid Pop up" onclick="closeGridPopUp()" style="cursor: pointer;"><i id="closeGridPop" class="fas fa-times" style="float: right"></i></a>
            </div>     
        </div>
       <div class="colorPopUpPicker">
           <i class="fas fa-thumbtack" style="color: #771300;padding-top: 10%"><a style="font-size: 14px; cursor: pointer;" onclick="openColorPicker()"> Change Points Color</a></i>
       </div>
            
    <div id="explained">
        <p style="font-size: 12px;"><i class="fas fa-info-circle fa-sm"></i>Make sure you pick the color first clicking on  Change Points Color. To edit a point click on it (the color changes) and then click again to set (the color changes once again). After marking the first point and until creating a grid, zooming in and out is disabled.</p>
    </div>
    <div class="points" id="points">
        <a  class="button primary" onclick="createGrid()">Draw Grid</a>
    </div>
    </div>

    <div class="colorPicker-popup" id="colorPicker" style="align-self: center;">
        <div class="container-colorPicker">
            <div id="inputs">
                <p style="padding-top: 2%">Select the Grid Points Colors:</p>
            <label for="setColor">Select the color to set the points on the grid:</label>
            <input type="color" id="setColor" name="setColor" value="#FF69B4">
            <br>
            <label for="changeColor">Select the color to change the points on the grid:</label>
            <input type="color" id="changeColor" name="changeColor" value="#69ffff">
            </div>
            <div class="options">
                <ul class="actions" style="margin-bottom: 0;">
                    <li><a class="button primary create" onclick="closeColorPicker()">Save</a></li>
                    <li id="cancel"><a onclick="closeColorPicker()" class="button cancel">Cancel</a></li>
                </ul>
            </div>
        </div>
    </div>

    {% endif %}


	<div class="upload" id="uploadVeg">
        <h1>Upload Files</h1>
        <p>If you already have uploaded orthophotomaps or grids that you would like to work with, please select them from the [Project] - Orthophotos or Grids section in the left. <br>If you already have an orthophoto of the firing area, and only want to classify the vegetation, please use this automatic classification tool. Submit the file below, in the correct place: </p> 
        <div class="orthophoto">
            <form method="POST" action="{% url 'upload_ortophoto' project.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <p id="titles">Orthophoto:</p>
                <div style="overflow: hidden; padding: 0.1em 0 0 1.8em;">
                    {{ ortophoto_form.image }}
                    <button type="button" id="file-upload__button" class="button icon solid fa-download">Choose File</button>
                    <span class="file-upload__label"></span>
                </div>
                <div style="padding: 1%; padding-left: 23%">
                    <input type="submit" id="submit_bt" class="button primary" style="display: none; background-color: #2f3338" value="Upload Ortophoto" onclick="openLoadingPopUp()">
                </div>
            </form>
            <span><i class="fas fa-info-circle fa-lg"></i> Uploading an orthophotomap can take a while due to size and resolution of the files.</span>
        </div>  
    </div>

    <!-- TUTORIAL -->
    {% if image is not None %}
    <div class="tooltip-wrapper stepOne" id="tutorial">
        <div class="tooltip">
            <div class="tooltip-title">
                <div class="steps"><a onclick="closeTutorial()" style="cursor: pointer"><i id="closeTutorial" class="fas fa-times" title="Stop tutorial"></i></a><a onclick="goBack()" style="cursor: pointer"><i class="fas fa-chevron-left" title="Previous Step" id="goBack"></i></a><a onclick="next()" style="cursor: pointer"><i class="fas fa-chevron-right" title="Next Step" id="nextStep"></i></a></div>
                <div class="tips" id="tips">Click <i class="fa fa-border-all fa-lg" aria-hidden="true"></i> and mark two points in the map to create a grid.</div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="tooltip-wrapper stepZero noImg" id="tutorial">
        <div class="tooltip">
            <div class="tooltip-title">
                <div class="steps"><a onclick="closeTutorial()" style="cursor: pointer"><i id="closeTutorial" class="fas fa-times" title="Stop tutorial"></i></a>
                    <a onclick="goBack()" style="cursor: pointer"><i class="fas fa-chevron-left" title="Previous Step" id="goBack"></i></a><a onclick="next()" style="cursor: pointer"><i class="fas fa-chevron-right" title="Next Step" id="nextStep"></i></a></div>
                <div class="tips" id="tips">Click <i class="fa fa-folder-open fa-lg" aria-hidden="true"></i> to upload a video or image</div>
            </div>
        </div>
    </div>
    {% endif %}


    <!-- CUSTOM SCRIPTS-->
    <script src="{% static 'viewmodel/js/veg_chara.js' %}"></script>
    <link rel="stylesheet" href="{% static 'viewmodel/css/veg_chara.css' %}"/>
    <script>
        let workingImage = $("#workingImage");
        let selectedLayer = null
        let selectedPointsTotal = 0;
        let gridDrawOn = false;
        let manualSelectOn = false;
        let brushSize = null
        let clicking = false;
        let brush = [];
        let queryDict = {};
        let scaleSize, leftScroll, topScroll;
        let img_seg = document.getElementById("workingImage")
        let localStorageId;

        $(document).ready(function () {
             let isImageLoaded = document.getElementById("workingImage");
             if (!isImageLoaded) {
                 openUpload();
             } else {
                openTutorial()
             }

            location.search.substr(1).split("&").forEach(function(item) {
                if (item.includes("grid") || item.includes("id")) {
                    localStorageId = item.split("=")[1]
                }

                if (!item.includes("selected") && !item.includes("brush") && !item.includes("error")) {
                    queryDict[item.split("=")[0]] = item.split("=")[1]
                } else {
                    if (item.includes("brush")) {
                        brushSize = item.split("=")[1]
                        manualSelectOn = true
                        $("#manualSelectionLeaf").css("color", "#B55B29")
                        openBrushSetings()
                    }

                    if (item.includes("selected")) {
                        selectedLayer = item.split("=")[1]
                    }

                    if (item.includes("error")) {
                        errorType = item.split("=")[1];
                        if (errorType === "CellSizeTooBig" ) {
                            errorMessage = "[" + errorType + "] The cell size is too big for the grid you are trying to create."
                        } else if (errorType === "NotEnoughValues") {
                            errorMessage = "[" + errorType + "] Manually classify at least one tile so that the auto-classification can be done."
                        } else if (errorType === "UnclassifiedTiles") {
                            errorMessage = "[" + errorType + "] Cannot export fuel map, make sure all the tiles on the grid have a classification."
                        }

                        openWarningPopUp(errorMessage);
                    }
                }

            });
            for (const [key, value] of Object.entries(queryDict)) {
                if (value === "hidden") {
                    $("#" + key + "_icon").addClass('fa-eye-slash').removeClass('fa-eye');
                }
            }

            if (selectedLayer === null) { selectedLayer = 0; }
            if (brushSize === null) { brushSize = 1; }

            let selectedLayerId = "#" + selectedLayer + "_layer"
            $(selectedLayerId).css("background-color", "grey")

            // Handle scale and scroll previous position
            scaleSize = localStorage.getItem("scaleSize_" + localStorageId);
            if (scaleSize == null) {
                localStorage.setItem("scaleSize_" + localStorageId, "1.1");
                scaleSize = 1;
            } else {
                scaleSize = parseFloat(scaleSize);
            }

            if (img_seg !== null && img_seg !== undefined) {
                img_seg.style.transform = "scale(" + scaleSize + ")";
            }

            leftScroll = localStorage.getItem("leftScroll_" + localStorageId);
            topScroll = localStorage.getItem("topScroll_" + localStorageId);
            if (leftScroll !== null && leftScroll !== undefined) {
                $(".right").scrollLeft(leftScroll);
            }
            if (topScroll !== null && topScroll !== undefined) {
                $(".right").scrollTop(topScroll);
            }


        });

        function manualSelect() {
            openBrushSetings()
            manualSelectOn = !manualSelectOn
            let color = "black";
            if (manualSelectOn) {
                color = "#B55B29";
            }
            $("#manualSelectionLeaf").css("color", color)
        }

        //color grid points
        var pColor = null;
        var cColor = null;
        if (document.getElementById("setColor") != null && document.getElementById("changeColor") != null) {
        var pointsColor = document.getElementById("setColor");
        var changePoints = document.getElementById("changeColor");
         if (pointsColor.value != null && changePoints.value != null) {
               pColor = pointsColor.value;
               cColor = changePoints.value;
           }
            pointsColor.addEventListener("input", function() {
                    pColor = pointsColor.value;

                }, false);

               changePoints.addEventListener("input", function() {
                    cColor = changePoints.value;

                }, false);
           }

        function drawGrid() {
            document.getElementById("createGridHelp").style.display = "none";
            var gridPop = document.getElementById("gridPop");
            gridPop.style.display = "block";

            var grid = document.getElementById("grid");
            if (grid.style.color === "black") {
                grid.style.color = "#B55B29";
                gridDrawOn = !gridDrawOn;
                let selectedFileId = JSON.parse("{{image.file_info.id|escapejs}}");
                $("#id_image_id").val(selectedFileId);
                
            }
            else {
                grid.style.color = "black";
                
            }

        }

        $(".right").scroll(function () {
            localStorage.setItem("leftScroll_" + localStorageId, $(this).scrollLeft());
            localStorage.setItem("topScroll_" + localStorageId, $(this).scrollTop());
        })

         workingImage.mousedown(function(event) {
            clicking = true
            brush = []
            let x = ((event.offsetX));
            let y = ((event.offsetY));
            brush.push( [x, y])
        });

        workingImage.mousemove(function(event) {
            if (clicking !== true) return

            let x = ((event.offsetX));
            let y = ((event.offsetY));
            brush.push( [x, y])
        });

        workingImage.mouseup(function(event) {
            let image = document.getElementById("workingImage");
            if (gridDrawOn && selectedPointsTotal < 2) {
                console.log("place icon")
                let x = event.offsetX;
                let y = event.offsetY;
                selectedPointsTotal++;

                //icon position
                var i = document.createElement("i");
                i.className = "fas fa-thumbtack fa-lg";
                i.style.position = "absolute";
                i.style.display = "block";
                i.style.left = event.pageX + 'px';
                i.id = "icon_" + selectedPointsTotal;
                i.style.color = pColor;
                i.style.zIndex = "2";
                i.style.top = event.pageY + 'px';
                i.style.width = "20px";
                i.style.height = "20px";
                document.getElementById("img_ortophoto").appendChild(i);
                var count = 0;
                var count2 = 0;

                if (selectedPointsTotal === 1) {
                    $("#id_p1").val(String(x) + ", " + String(y))
                    document.getElementById('plusImg').removeAttribute("onclick");
                    document.getElementById('minusImg').removeAttribute("onclick");
                } else if (selectedPointsTotal === 2) {
                    $("#id_p2").val(String(x) + ", " + String(y))
                    $("#id_image_size").val(String(image.width) + ", " + String(image.height))
                    document.getElementById("")
                    document.getElementById('plusImg').removeAttribute("onclick");
                    document.getElementById('minusImg').removeAttribute("onclick");

                    icon_1 = document.getElementById("icon_1");
                    icon_2 = document.getElementById("icon_2");

                    icon_1.onclick = function (event) {
                        if (count2 != 1 && count2 != 2) {
                            count++;
                        }
                        if (count === 1) {
                            icon_1.style.color = cColor;
                            icon_2.style.color = pColor;
                            document.addEventListener("click", change);
                        } else if (count === 2) {
                            icon_1.style.color = pColor;
                            document.removeEventListener("click", change);
                            count = 0;
                        }

                    };

                    icon_2.onclick = function (event) {
                        if (count != 1 && count != 2) {
                            count2++;
                        }

                        if (count2 === 1) {
                            icon_2.style.color = cColor;
                            icon_1.style.color = pColor;
                            document.addEventListener("click", change2);
                        } else if (count2 === 2) {
                            icon_2.style.color = pColor;
                            document.removeEventListener("click", change2);
                            count2 = 0;
                        }

                    };
                    var points = document.getElementById("points");
                    points.style.display = "flex";
                }
            } else if (manualSelectOn === true) {
                let x = ((event.offsetX));
                let y = ((event.offsetY));

                clicking = false;
                brush.push([x, y]);
                $("#id_point").val(JSON.stringify([...new Set(brush)]));
                $("#id_classification_image_size").val(String(image.width) + ", " + String(image.height));
                $("#id_classification_index").val(selectedLayer)
                $("#id_grid").val(JSON.parse("{{grid.file_info.id|escapejs}}"));
                $("#id_brush_size").val(brushSize)
                openLoadingPopUp();
                document.getElementById("manualClassification").submit();
            }
        });

        $("#cell_size_input").change(function () {
            $("#id_cell_size").val($(this).val())
        })

        $("#model").change(function () {
            $("#id_modelField").val($(this).val())
        })

        function change() {       
            var x = parseFloat(event.pageX) - parseFloat(icon_2.style.left);
            var y = parseFloat(event.pageY) - parseFloat(icon_2.style.top);
            if ((Math.abs(x) > 5) && (Math.abs(y) > 5)) {
                icon_1.style.left = event.pageX +'px';
                icon_1.style.top = event.pageY +'px';
            }
        }

        function change2() {
            var x = parseFloat(event.pageX) - parseFloat(icon_1.style.left);
            var y = parseFloat(event.pageY) - parseFloat(icon_1.style.top);
            if ((Math.abs(x) > 5) && (Math.abs(y) > 5)) {
                icon_2.style.left = event.pageX +'px';
                icon_2.style.top = event.pageY +'px';
            }
        }
        

        function createGrid() {
            openLoadingPopUp();
            document.getElementById("workingImageForm").submit();
            grid.style.color = "black";
            document.getElementById('plusImg').addAttribute("onclick");
            document.getElementById('minusImg').addAttribute("onclick");
        }

        function setSelectedLayer(layer) {
            $("#" + selectedLayer + "_layer").css("background-color", "")
            selectedLayer = layer;
            $("#" + selectedLayer + "_layer").css("background-color", "grey")
        }

        function filter(levelType) {
            let val = queryDict[levelType]
            if (val === "hidden") {
                delete queryDict[levelType];
            } else {
                queryDict[levelType] = "hidden";
            }

            let path = '?'
            for (const [key, value] of Object.entries(queryDict)) {
                path += key + '=' + value + '&';
            }
            path = path.substr(0, path.length-1)
            window.location.href = window.location.pathname + path;
        }

        function showAll() {
           window.location.href = window.location.pathname + "?grid=" + queryDict['grid'];
        }

        function hideAll() {
            let modelLength = JSON.parse("{{model|length}}");
            path = ""
            for (let i=0; i<modelLength; i++){ path += "&" + String(i) + "=hidden";}
            window.location.href = window.location.pathname + "?grid=" + queryDict['grid'] + path;
        }

        function openBrushSetings() {
            if (brushSize === null) { brushSize = 1; }
            let settings = $("#brushSettings")
            settings.val(brushSize)
            if (settings.css("display") === "none") {
                settings.css("display", "")
            } else {
                settings.css("display", "none")
            }
        }

        $("#brushSettings").change(function (){
            brushSize = $("#brushSettings").val()
        })

        // IMAGE ZOOM //////////////////////////////////////////////////////////////
        function imgSmall() {
            if (scaleSize == 1.1) {
                scaleSize = scaleSize - 0.1;
                img_seg.style.transform = "scale(" + scaleSize + ")";
                img_seg.style.transition = "transform 0.25s ease";
            }
            else if (scaleSize > 1.1) {
                scaleSize = scaleSize - 0.2;
                img_seg.style.transform = "scale(" + scaleSize + ")";
                img_seg.style.transition = "transform 0.25s ease";
            }
            localStorage.setItem("scaleSize_" + localStorageId, String(scaleSize));

        }

        function enlargeImg() {
            if (scaleSize == 1.0) {
                scaleSize = scaleSize + 0.1;
            }
            else {
                scaleSize = scaleSize + 0.2;
            }
            img_seg.style.transform = "scale(" + scaleSize + ")";
            img_seg.style.transition = "transform 0.25s ease";
            localStorage.setItem("scaleSize_" + localStorageId, String(scaleSize));
        }

        function fitToScreen() {
            scaleSize = 1;
            img_seg.style.transform = "scale(" + scaleSize + ")";
            img_seg.style.transition = "transform 0.25s ease";
            localStorage.setItem("scaleSize_" + localStorageId, String(scaleSize));
        }
        // END OF IMAGE ZOOM ///////////////////////////////////////////////////////
        ////////////////////////////////////////////////////////////////////////////

    </script>

{% endblock %}